<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/addUser" method="post">
    用户姓名：<input type="text" name="name"/><br/>
    用户年龄：<input type="text" name="age"/><br/>
    <input type="submit" value="确定"/><br/>
</form>
<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>age</td>
        <td>操作</td>
    </tr>
    <tr th:each="u : ${list}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.age}"></td>
        <td><a th:href="@{/update(id=${u.id})}">更新</a></td>
        <td><a th:href="@{/delete(id=${u.id})}">删除</a></td>
    </tr>
</table>
</body>
</html>