<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.UserDao">



	<select id="queryshow" resultType="com.example.demo1.entity.Users">
		SELECT users.*,role.role_name from users,user_role,role WHERE users.id=user_role.user_id and user_role.role_id=role.id
	</select>



</mapper>