<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo1.dao.ShiroDao">

    <select id="queryAllUsers" resultType="Users">
        select * from users
    </select>

    <select id="queryUserByUsername" resultType="Users">
        select * from users where username = #{username}
    </select>

    <select id="queryRoleIdByUserId" resultType="Integer">
      select role_id from user_role where user_id = #{id}
    </select>

    <select id="queryRoleByRoleId" resultType="Role">
        select * from role where id = #{id}
    </select>

    <select id="queryAuthIdByRoleId" resultType="Integer">
        select * from role_auth where role_id = #{id}
    </select>

    <select id="queryAuthByAuthId" resultType="Auth">
        select * from auth where id = #{id}
    </select>

    <select id="queryAuthIdByRoleIdTwo" resultType="com.example.demo1.entity.RoleAuth">
        select * from role_auth where role_id = #{role_id}
    </select>

    <select id="queryAuthByauthid" resultType="com.example.demo1.entity.Auth">
        select * from auth where id = #{id}
    </select>

    <select id="queryAuthBypid" resultType="com.example.demo1.entity.Auth">
        SELECT auth.* from auth,role_auth WHERE role_auth.role_id=#{role_id} AND auth.id=role_auth.auth_id AND auth.pid='-1'
    </select>


    <select id="queryAuthBypidTwo" resultType="com.example.demo1.entity.Auth">
        SELECT *FROM auth where auth.pid=#{pid}
    </select>
</mapper>