<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.dao.UserDao">

    <insert id="usershow" parameterType="com.example.demo1.entity.Users">
		insert into users(`name`,age) values(#{name},#{age})
	</insert>

	<select id="queryshow" resultType="com.example.demo1.entity.Users">
		select * from users;
	</select>

	<select id="updateshow" resultType="com.example.demo1.entity.Users">
		select  *from users where id=#{id}
	</select>
	<update id="update" parameterType="com.example.demo1.entity.Users">
		update users set name=#{name},age=#{age} where id=#{id}
	</update>

	<delete id="deleteId">
		delete from  users where id=#{id}
	</delete>
</mapper>